@keyframes rotate {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(#582430 1px, transparent 1px);
    background-size: 37px 37px;
    background-color: #ffffff;
    color: #582430;
    font-family: poppinsregular;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.menu-button{
    display: none;
}

header {
    background-color: #ffe4ea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1560;
    margin: 20px;
    width: 90%;
    border-radius: 20px;
    border: 1px solid;
    height: 100%;
    padding-top: 10px;
}

#logo_leticia {
    width: 140px;
    filter: drop-shadow(2px 0px 2px #22222279); 
}

.desktop-menu{
    margin-right: 40px;

}

.desktop-menu a {
    text-decoration: none;
    font-size: 25px; /* Tamanho da fonte */
    margin: 0px 0; /* Espaçamento entre os itens do menu */
    transition: opacity 0.3s ease-in-out; /* Transição suave para a opacidade */
}

#close_menu{
    display: none;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #582430;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

h1 {
    font-weight: 200;
}

#nav_mobile{
    display: none
}

#leticia_main_mobile{
    display: none;
}

#inicio {
    background-image: radial-gradient(#582430 1px, transparent 1px);
    background-size: 37px 37px;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-evenly;
}

#txt_entrada {
    margin-top: 100px;
}

#h2_entrada {
    margin-top: 40px;
    font-size: 40px;
    line-height: 0px;
    font-family: poppinsmedium;
    background-color: white;
}

span {
    background-color: white;
    color: #fa003a;
}

#subtitulo_inicio {
    background-color: white;
    margin-top: 50px;
    line-height: 20px;
    font-size: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

#leticia_main {
    width: 370px;
}

#atendimentos {
    background-color: #ffe4ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}

#tipo_atendimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.article_atendimento {
    width: 250px;
    margin: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.article_atendimento.active {
    opacity: 1;
    transform: translateY(0);
}

.img_atendimento {
    width: 100px;
    margin-bottom: 20px; /* Ajuste aqui para controlar a distância entre a imagem e o texto */
}

.txt_atendimento {
    font-size: 16px;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
}

#sobre{
    background-image: radial-gradient(#582430 1px, transparent 1px);
    background-size: 37px 37px;
    background-color: #ffffff;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: start ;
    margin-top: 40px;
    margin: 0 auto;
}

#section_contato {
    display: flex;
    flex-direction: column;
    /* background-color: green; */ /* Removido para teste */
    width: 50%; /* Ajuste a largura conforme necessário */
    justify-content: center; /* Alinhe o conteúdo conforme necessário */
    align-items: center; /* Alinhe o conteúdo conforme necessário */
    padding: 20px; /* Adicione padding se necessário */
}

#aside_sobre {
    display: flex;
    flex-direction: column;
    /* background-color: red; */ /* Removido para teste */
    width: 50%; /* Ajuste a largura conforme necessário */
    justify-content: center; /* Alinhe o conteúdo conforme necessário */
    align-items: center; /* Alinhe o conteúdo conforme necessário */
    padding: 20px; /* Adicione padding se necessário */
}

#div_contato{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 14px;
    background-color: white;
    border-radius: 50px;
}

#h2_sobre {
    font-size: 36px;
}

#h3_sobre {
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    max-width: 600px;
}

#contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#img_contato{
    padding: 20px;
    width: 50px;
}